.rodape{
    background: #595959;
    color: #fdfdfd;
    font-size: 1.25rem;
    text-align: center;

}

@media screen and (min-width:0) {
    .rodape{
        padding: 2rem;
        width: calc(100% - 2rem)
    }
}

@media screen and (min-width:768px) {
    .rodape{
        padding: 4rem;
    }
}