:root{
    --cor-branca:#f1f1f1;
    --cor-card:#fdfdfd;
    --cor-preta-links:#333333;
    --cor-verde:#00cc99;
    --cor-vermelha:#ff8080;
    --cor-azul:#0099ff;
    --cor-titulo-cards:#333333;
    --cor-data: #808080;
    --cor-descricao:#333333;
    --cor-icons-cabecalho:#333333;
    --cor-rodape: #fdfdfd;
    
}